input/input.png
input/Megan Is Missing.mp4
input/models/EDSR_x3.pb
input/models/EDSR_x4.pb
input/models/ESPCN_x4.pb
input/models/FSRCNN_x4.pb
input/models/LapSRN_x8.pb
output/upscaled_EDSR_x3.pb.png
output/upscaled_EDSR_x4.pb.png
output/upscaled_edsrx3.png
output/upscaled_fsrcnn.png
output/upscaled_lapsrn.png
output/upscaled.png
output/video/test.jpeg
